
.channel-pick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel-pick h3 {
  margin-top: 0;
}

.channel-pick .picker {
  display: flex;
}

.channel-pick .picker button {
  margin-left: 10px;
}